:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  --color-app-bg: #242424;
  background-color: var(--color-app-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-bg: rgb(0, 0, 0);
  --color-wanderer: rgb(255, 0, 0);
  --color-celestial: rgb(255, 255, 255);

  --header-height: 50px;

  --color-btn-bg: #1a1a1a;
  --color-input-bg: var(--color-btn-bg);
  --color-input-border: #5a5a5a;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-weight: normal;
  padding-top: 8px;
}

header {
  display: flex;
  align-items: center;
  gap: 2rem;
  height: var(--header-height);
}
.spacer {
  flex-grow: 1;
}
canvas {
  border: 1px solid darkolivegreen;
  background-color: var(--color-bg);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--color-btn-bg);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

input {
  background-color: var(--color-input-bg);
  border-radius: 4px;
  border: 1px solid var(--color-input-border);
  padding: 0.2em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.card {
  padding: 2em;
}

#app {
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    --color-app-bg: #ffffff;

    color: #213547;

    --color-bg: rgb(255, 255, 255);
    --color-celestial: rgb(0, 0, 0);

    --color-btn-bg: #f9f9f9;
    --color-input-border: #c9c9c9;
  }
  a:hover {
    color: #747bff;
  }
}
